.App {
  text-align: center;
  
}
.wrapper{
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  
  padding: 20px;
  border-radius: 10%;
  background-color: lightgray;
  box-shadow: 0 1px 4px 0 #2b2b2b;
}
.input-wrapper input{
  border-radius: 6px;
  border: none;
  width: 200px;
  height: 25px;
  padding: 6px;
  background-color: #2b2b2b;
  color: #fff;
  margin-right: 12px;
  
}
.input-wrapper button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-size: 20px;
}
.input-wrapper button:hover{
  background-color: #2b2b2b;
  color: #fff;
}